.grow1 {
  flex: 1
}


.smallImage {
  height: 50px;
  opacity: 0.3;
}

.selected {
  opacity: 1;
}

.imgContainer {
  height: 400px;
  width: 400px;
  background-size: cover;
  background-position: center;
}

.icon {
  font-size: 50px;
}

.progressBar {
  height: 10px;
  background-color: #b1b1b1;
}

.progressBar div {
  height: 100%;
  background-color: mediumspringgreen;
}

img {
  height: 100px;
}

.postCard {
  width: 400px;
  overflow: hidden;
}